html{
    background-image: 
    linear-gradient(
       to top right, 
       white,white,whitesmoke,lightgrey
     );
    
    
}    
nav{
     display: flex;
     align-items: center;
     justify-content: space-around ;
     flex-direction :row;
     background-image: 
     linear-gradient(
        to top right, 
        lightpink, lightblue, lightblue
      );
     padding-top:3%;
     padding-bottom:3%;
     margin:-1%;
 
 }
 
 .nav{
     font-size: 130%;
     font-family: Courier, monospace;
     color: rgb(24,24,24);
     opacity: 60%;
     text-decoration: none;
 
 }
 .nav:hover{
     color: black;
     text-decoration: none;
 }
 .dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child a:hover{
    color: black;
}
.dropdown-child {
    font-family: Courier, monospace;
    width: 140px;
    background-image: 
     linear-gradient(
        to top right, 
        lightpink, lightblue, lightblue
      );;
    position : absolute;
    display: none;
    min-width: 50px;
    z-index: 100;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}

.itescia{
    margin-left:-6px;
    width: 100.99%;
    padding-right:6px;
    height:  100%;
background-image: url("img/itescia.png");
}
.koding{
    margin-left:-6px;
    width: 100.99%;
    padding-right:6px;
    height:  100%;
    background-image: url("img/koding.png");
}
.lab{
    margin-left:-6px;
    width: 100.99%;
    padding-right:6px;
    height:  100%;
    background-image: url("img/lab.png");
}
.us{
    margin-left:-6px;
    width: 100.99%;
    padding-right:6px;
    height:  100%;
    background-color: whitesmoke; 
}
.characters_container{
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    font-size:130%;
    color: rgb(73, 38, 33);
    
    
}
span{
    font-style: normal;
    font-size: 80%;
    color: black;
}

.characters_column{
    padding: 2%;
    display: flex;
    flex-direction: column;
}
.characters_row{
    display: flex;
    flex-direction: row; 
}
.left{
    padding-right: 400px;
}
table {

    border-collapse: collapse;
  
}
  
table, th, td {
    padding:5px;
    border: 1px solid black;
}
.division{
    padding-top: 5%;
    width: 100%;
   min-width: 10%;
   height: auto;
}