body{
    background-image:url("img/fantasy_army.jpg");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
 
}
.contactbody{
    background-image:url("img/fantasy_army_2.jpg");
    background-size: 100%; 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}
.profilbody{
    background-image:url("img/fantasy_army_3.jpg");
    background-size: 100%; 
    background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
@font-face {
    font-family: myFirstFont;
    src: url(img/font/OldLondon.ttf);
  }
  h1{

    font-family: myFirstFont!important;
    font-size: 200%;

    text-align: center;
  }
#container{
    width:400px;
    margin:0 auto;
    margin-top:5%;
   
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;

}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    max-width: 100%;
    min-width: 100%;
    max-height: 500px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;vertical-align: top;
    height: 5em;
}

/* Set a style for all buttons */
input[type=submit] {
    font-family: myFirstFont!important;
    font-size: 150%;
    background-color: lightseagreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: lightseagreen;
    border: 1px solid lightseagreen;
}
.button {
    font-family: myFirstFont!important;
    margin-top: 1%;
    margin-left: 1%;
    background-color: lightseagreen; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover {
    font-family: myFirstFont!important;
    background-color: white;
    color: lightseagreen;
    border: 1px solid lightseagreen;
}
h2{
    font-family: myFirstFont!important;
    color: lightseagreen;
    text-align: center;
}
.img_profil{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-image: url(img/characters/1.png);
    background-position: 50% 15%;
}
.profilrow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.profilcolumn{
    display: flex;
    flex-direction: column;
}
