html{
    background-image: 
    linear-gradient(
       to top right, 
       white,white,whitesmoke,lightgrey,lightgrey,lightgrey
     );
    
    
}    
nav{
     display: flex;
     align-items: center;
     justify-content: space-around ;
     flex-direction :row;
     background-image: url(img/fantasy_army.jpg);
     padding-top:3%;
     padding-bottom:3%;
     margin:-1%;
 
 }
 
 .nav{
     font-size: 150%;
     font-family: myFirstFont;
     color: whitesmoke;
     opacity: 60%;
     text-decoration: none;
 
 }
 .nav:hover{
     color: lightseagreen;
     text-decoration: none;
 }
 .dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child a:hover{
    color: lightseagreen;
}
.dropdown-child {
    font-family: myFirstFont;
    font-size: 120%;
    width: 140px;
    background-image: url(img/fantasy_army.jpg);
    position : absolute;
    display: none;
    min-width: 50px;
    z-index: 100;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}

.characters_container{
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    font-size:130%;
    color: rgb(73, 38, 33);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
    
}
span{
    font-style: normal;
    font-size: 80%;
    color: black;
}

.characters_column{
    padding: 2%;
    display: flex;
    flex-direction: column;
}
.characters_row{
    display: flex;
    flex-direction: row; 
}
.left{
    padding-right: 400px;
}
.img_responsive{
    margin-top: 20%;
}
table {

    border-collapse: collapse;
  
}
  
table, th, td {

    padding:5px;
    border: 1px solid black;
}
.division{
    padding-top: 5%;
    width: 100%;
   min-width: 10%;
   height: auto;
}
.division_news{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 30px;


}
.right{
    text-align: right;
}
@font-face {
    font-family: myFirstFont;
    src: url(img/font/OldLondon.ttf);
}
.style{
    color: lightseagreen;
    font-family: myFirstFont;
    font-size: 120%;  

}
h1{
    font-family: myFirstFont;
    color: lightseagreen;
   
}
.us_row{
    border: 1px solid #ccc;
    padding: 2%;
    border-radius: 30px;
    background-color: whitesmoke;
    justify-content: space-evenly;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.title{
    margin-top: 2%;
    text-align: center;
    font-size: 450%;
}
.video{
    text-align: center;
}
.different_bg{
    border: 1px solid #ccc;
    margin:2%;
    padding: 1%;
    background-image: linear-gradient(#20B2AA, #5F9EA0);
    border-radius: 30px;

}
.txt{
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.us_column{
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 1%;
    background-image: linear-gradient(lightseagreen, #5F9EA0);
    width: 600px;
    height: 900px;
    flex-direction: column;
}
.imgus{
    border-radius: 100%;
    border: 5px solid #ccc;
}
h3{
    font-family: myFirstFont;
    font-size: 300%;
    color: white;
    text-decoration: underline;
}
.imgborder{
    border-radius: 30px;
}
footer{
    color: white;
    font-family: myFirstFont;
    font-size: 300%;
    border-top: solid 10px lightseagreen ;
    margin-top: 5%;
    height: 100px;
    float: left;
    width: 100%;
    background-image:url(img/fantasy_army.jpg);
    display: flex;
    justify-content:space-evenly;
    padding-top: 50px;

}
.link{
    text-decoration: none;
    color: white;
}
.link:hover{
    color: lightseagreen;
}
#top{
    padding: 3%;
    background-image: url(img/fantasy_army.jpg)!important;
    background-position: left;
}
