ul{ 
    
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin: 20px ;
    z-index: 20;
}


li {
    float: left;
    border-right:1px solid #bbb;
    font-size: 45px;
    margin-bottom: -11px;

}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-style: bold;
}

li a:hover:not(.active) {
    background-color: #111;
}

#buy{
    background-color: orange;
}

.active {
    background-color: orange;
}

ul li img{
 padding:15px;
}
video{
    position: absolute;
    margin-top: -200px;
    width: 100%;
    z-index: -1;
 }
